body, html {
  height: 100%;
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 14px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.wrapper{
  min-width: 960px;
  }

header{
  height: 46px;
  background-color: white;
  border-bottom: 2px solid #bbb;
}

h1{
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
}

.contents{
  width: 600px;
  margin: 5px auto 0;
  background-color: #bbb;
}

.message{
  min-height: 100px;
  width: 596px;
  margin: 0 auto 1px;
  background-color: #fff;
}

.message img{
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  height: 48px;
  margin: 10px;
}

.message_box{
  float: left;
  width: 505px;
}

.user_name{
  font-weight: bold;
  padding: 9px 0 0 10px;
  line-height: 18px;
}

.time{
  color: #bbb;
}

.text{
  padding: 0 10px 10px 10px;
  line-height: 18px;
}

footer{
  height: 80px;
  background-color: #555;
}